/*
	Sitemap Styler 	 
*/

#sitemap, #sitemap ul, #sitemap li,#sitemap1, #sitemap1 ul, #sitemap1 li,#sitemap2, #sitemap2 ul, #sitemap2 li
{
	margin:0;
	padding:0;
	list-style:none;
}
#sitemap,#sitemap1, #sitemap2
{
	margin-top:0px;
	margin-left:0px;	
}
#sitemap h1 ,#sitemap1 h1,#sitemap2 h1
{
	/*display: block;*/
	background-color:#808080;
	font-size: 90%;
	padding:5px 0 5px 5px;
	color: #40353D;
	margin: 0px;
	width:140px;
	background:url(./images/side_tab_up.gif) no-repeat top left;
}
#sitemap ul,#sitemap1 ul,#sitemap2 ul
{
	display:none;
}


#sitemap li,#sitemap1 li,#sitemap2 li
{
	line-height:200%;
	margin-top:0px;					
	position:relative;
	width:100%;	
	background: url(./images/side_tab_mid.gif) repeat-y top left;
	
}
/* IE leaves a blank space where span is added so this is to avoid that */
html #sitemap li, html #sitemap1 li, html #sitemap2 li
{
	float:left;
	display:inline;
}

#sitemap li a, #sitemap1 li a, #sitemap2 li a
{
	padding-left:30px;
	text-decoration: none;
	color:#40353D;	
	font-size:12px;	
	font-weight:normal;					
}
#sitemap ul li a:hover, #sitemap ul li a:focus,#sitemap1 ul li a:hover, #sitemap1 ul li a:focus ,#sitemap2 ul li a:hover, #sitemap2 ul li a:focus  
{
	color: #40353D;
	font-weight:bold;
	letter-spacing:1px;
}
#sitemap li span,#sitemap1 li span,#sitemap2 li span
{
	float:left;
	position:absolute;
	top:5px;
	left:5px;
	width:170px;
	height:25px;
	cursor:pointer;
	font-size:0;
		
}
#sitemap li span, #sitemap li span.collapsed,#sitemap1 li span, #sitemap1 li span.collapsed,#sitemap2 li span, #sitemap2 li span.collapsed
{
	margin-left:10px;
	background:url(./images/collapsed.gif) no-repeat 0 0;	
} 
#sitemap li span.expanded,#sitemap1 li span.expanded,#sitemap2 li span.expanded
{
	margin-left:10px;
	background:url(./images/expanded.gif) no-repeat 0 0;
}

/* second level */

#sitemap li li,#sitemap1 li li,#sitemap2 li li
{
	/*background:#F9F6FE*/	
}
#sitemap li li a,#sitemap1 li li a,#sitemap2 li li a
{
	padding-left:46px;	
	text-decoration: none;	
	color:#40353D;
	font-weight:normal;	
}
#sitemap li li span,#sitemap1 li li span,#sitemap2 li li span
{
	left:20px;
}

/* third level */

#sitemap li li li a,#sitemap1 li li li a,#sitemap2 li li li a
{
	padding-left:60px;
	text-decoration: none;
	color:#40353D;
	font-weight:normal;	
}
#sitemap li li li span,#sitemap1 li li li span,#sitemap2 li li li span
{
	left:36px;
}

/* etc. */

/*  */

